
<!-- <div class="modal-body" > -->
    <div class="form-modal"id="confirm-delete" >
      <div class="delete-head"> 
        <h4>Delete Employee</h4>
      </div>
      <p>Are you sure you want to delete this employee ?</p>
      <div class="delete-button">
        <button type="submit" class="btn btn-light" onclick="remove()" >Cancel</button>
        <button type="button" class="btn btn-danger" onclick="remove(),refresh()"  id="del">Delete</button>
      </div>
    </div>
  <!-- </div> -->