     
       <div class="main-left">
        <div class="main-left-header">
            <h4 class="font-default">Employee</h4>
            <h4 class="font-change">Management</h4>
        </div>
        <div class="list">
            <ul>
                <li> <a href="#"><i class="fa-sharp fa-solid fa-house-chimney"></i>Dashboard</a></li>
                <li > <a href="#"><i class="fa-sharp fa-solid fa-chart-simple"></i>Employees</a></li>
                <li> <a href="#"><i class="fa-sharp fa-solid fa-user"></i>My Profile</a></li>
                <li><a href="/logout"><i class="fa-sharp fa-solid fa-lock"></i>Log out</a></li>
                

            </ul>
        </div>
        <div class="left-footer">
            <h4>powered by</h4>
            <div class="footer-image">
                <img src="img/image 1.png" alt="">
            </div>
        </div>
</div>