<form action="">
    <div class="main-left">
        <div class="main-left-header">
            <h4 class="font-default">Employee</h4>
            <h4 class="font-change">Management</h4>
        </div>
        <div class="list">
            <ul>
                <li> <i class="fa-sharp fa-solid fa-house-chimney"></i>Dashboard</li>
                <li> <i class="fa-sharp fa-solid fa-chart-simple"></i>  Employees</li>
                <li> <i class="fa-sharp fa-solid fa-user"></i>My Profile</li>
                <li> <i class="fa-sharp fa-solid fa-lock"></i>Log out</li>

            </ul>
        </div>
        <div class="left-footer">
            <h4>powered by</h4>
            <div class="footer-image">
                <img src="img/image 1.png" alt="">
            </div>
        </div>
    </div>
    <div class="main-right sub-main-right">
      <div class="main-right-header">
          <div class="sub-header">
          <h5 class="dashboard">Dashboard/Employees</h5>
          <h5 class="header-employee">Employees</h5>
          </div>
          <div class="google">
              <input type="search" id="site-search" placeholder="Search">
              <i class="fa fa-sharp fa-light fa-magnifying-glass"></i>
              <i class="fa-sharp fa-regular fa-bell"></i>
              <div class="avatar">
                  <img src="img/Avatar.png" alt="Women">
              </div>
          </div>
          <br clear="all">  
      </div>
      <div class="employee-deletion-form bg-white" id="employee-details">
        <div class="sub-deletion-form">
          <div class="background">
            <img src="img/Background.png" alt="">
          </div>
            <div class="employee-img">
              <img src="img/kannadi2.png" alt="">
            </div>
        </div>
        <div class="employee-name">
          <h5>Mr Ananthu Ajayan</h5>
          <p>ananthu.stackup@gmail.com</p>
        </div>
        <div class="rack">
          <div class="row sec">
            <div class="col form-coloumn">
              <h6>Gender</h6>
              <h5>Male</h5>
            </div>
            <div class="col form-coloumn">
              <h6>Age</h6>
              <h5>38</h5>
            </div>
            <div class="col form-coloumn">
              <h6>Date of Birth</h6>
              <h5>20 december 1985</h5>
            </div>
          </div>
          <div class="row sec">
            <div class="col form-coloumn">
              <h6>Mobile Number</h6>
              <h5>8921985889</h5>
            </div>
            <div class="col form-coloumn">
              <h6>Qualification</h6>
              <h5>Diploma</h5>
            </div>
          </div>
          <div class="row sec">
            <div class="col form-coloumn">
              <h6>Adress</h6>
              <h5>karikkakathu moola puthenveedu koithoorkonam TVM 695584</h5>
            </div>
            <div class="col form-coloumn">
              <h6>Username</h6>
              <h5>Ananthu_Ajayan</h5>
            </div>
          </div>
        </div>
    
        <div class="delete-button form-g">
          <button type="button" class="btn btn-danger">Cancel</button>
          <button type="button" class="btn btn-primary">Delete</button>
        </div>
    
       
      </div>
      
        <div class="right-footer">
          <h6> @ 2023 All Rights Reserved. Stack Up</h6>
          <div class="right-sub-footer">
              <h5>Terms of Use</h5>
              <h5>Privacy Policy</h5>
          </div>
    
        </div>
    
        
    </div>
  </form>