<tr class="pro" id="page-list">
    <td scope="row">#01</td>
        <td class="zero" id="zero">
            <div class="pic-setter">
                <img src="img/Rectangle 346.png" alt="">
            </div>
            Mr.Micheal Johnson
        </td>
    <td>michaeljohnson@example.com</td>
    <td>5551234567</td>
    <td>Male</td>
    <td>10 December 1985</td>
    <td>USA</td>
    <td class="dotted-icon"><i class="fa-solid fa-ellipsis"></i></td>
  </tr>
  
      